* {
  box-sizing: border-box;
}


body {
  background-image: url('images/photo-1506744038136-46273834b3fb.jfif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.container {
  background: white;
  padding: 40px 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  max-width: 400px;
  width: 90%;
}


h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}


.eco {
  color: #77C043;
}


.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}


.tab-btn {
  flex: 1;
  padding: 10px;
  border: none;
  background: #e0e0e0;
  cursor: pointer;
  font-weight: bold;
  color: #333;
}


.tab-btn.active {
  background: #77C043;
  color: white;
}


.form {
  display: none;
  flex-direction: column;
}


.form.active {
  display: flex;
}


input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1em;
}


button[type="submit"] {
  background: #77C043;
  color: white;
  padding: 10px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}


button[type="submit"]:hover {
  background: #65a13a;
}
